{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<div id="turbo-user-table" >
    <div class="wrapper" data-controller="table">
        <div class="loader d-none" data-table-target="spinner">
            <div class="spinner-border shadow-sm text-primary" role="status">
            </div>
        </div>
        <div class="d-flex justify-content-between align-item-center">

            <select data-action="change->table#setLoading" onchange="tableSizeChange(this, {{ currentPage }})" class="form-select shadow-sm bg-light w-fit">
                {% for allowedSize in allowedTableSize %}
                    <option value="{{ allowedSize }}" {% if size == allowedSize %} selected {% endif %}>{{ allowedSize }}</option>
                {% endfor %}
            </select>

            <div class="d-flex justify-content-between align-item-center">
                
                <a role="button" data-action="click->table#setLoading" href="{{ path('app_user', {'page': 1, 'size' : size}) }}" draggable="false" class="shadow-sm border user-select-none mx-1 btn bg-light {% if (currentPage == (1)) %} disabled {% endif %}">
                    <i class="bi bi-chevron-double-left"></i>
                </a>

                {% for i in (currentPage - 3)..(currentPage + 1) %}

                    {% if (i + 1 > 0) and (i + 1 <= nbPage)  %}
                        <a role="button" data-action="click->table#setLoading" href="{{ path('app_user', {'page': i + 1, 'size' : size}) }}" draggable="false" class="shadow-sm border user-select-none mx-1 btn {% if (currentPage == (i + 1)) %} btn-primary disabled {% else %} bg-light {% endif %}">
                            {{ i + 1 }}
                        </a>
                    {% endif %}

                {% endfor %}
                
                <a role="button" data-action="click->table#setLoading" href="{{ path('app_user', {'page': nbPage, 'size' : size}) }}" draggable="false" class="shadow-sm border user-select-none mx-1 btn btn bg-light {% if (currentPage == (nbPage)) %} disabled {% endif %}">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </div>

        </div>
        <table 
            class="table table-striped bg-white border-light shadow-sm my-3"
            data-table-target="table"
        >
            <thead class="bg-white">
                <tr class="bg-slate-600">
                    {% for col in tableColumns %}
                        <th scope="col">
                            <span role="button" class="dropdown-toggle text-decoration-none text-dark" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ col.label }}
                            </span>
                            <ul class="dropdown-menu shadow-sm">
                                {% for sub in col.sort %}
                                    <li>
                                        <button 
                                            class="dropdown-item d-flex justify-content-between item-center" 
                                            data-action="click->table#resolveColumnSorting"
                                            data-item-url-param="{{ path('app_user', {'page': currentPage, 'size': size}) }}"
                                            data-item-id-param="{{ col.id }}"
                                            data-item-payload-param="{{ sub.action }}"
                                        >
                                            {{ sub.label }} {{ sub.icon | raw }}
                                        </button>
                                    </li>
                                {% endfor %}
                            </ul>
                        </th>
                    {% endfor %}
                    <th scope="col">
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr id="target_row_{{ user.id }}" class="{% if (user.disabled) %} table-danger text-danger {% endif %}">
                        <th scope="row">{{ user.id }}</th>
                        <td>
                            {{ user.firstname }}
                        </td>
                        <td>
                            {{ user.lastname }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.banned %}
                                <div class="badge bg-danger px-3 rounded-pill shadow-md">
                                    BAN
                                    <i class="bi bi-person-fill-slash"></i>
                                </div> 
                            {% else %} 
                                <div class="badge bg-success px-3 rounded-pill shadow-md">
                                    RAS 
                                    <i class="bi bi-person-check-fill"></i>
                                </div> 
                            {% endif %}
                        </td>
                        <td>
                            {{ user.createdAt|date('d/m/Y H:i:s') }}
                        </td>
                        <td>
                            {{ user.updatedAt|date('d/m/Y H:i:s') }}
                        </td>
                        <td>
                            <button 
                                class="btn btn-sm btn-primary mx-1">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                            <a 
                                data-action="click->table#setLoading"
                                href="{{ path('app_user_toggle', {'page': currentPage, 'user_id' : user.id}) }}" 
                                class="shadow-sm border-white btn btn-sm mx-1 {% if not (user.disabled) %} btn-danger {% else %} btn-warning {% endif %}">
                                {% if not (user.disabled) %}
                                    <i class="bi bi-trash3-fill"></i>
                                {% else %}
                                    <i class="bi bi-recycle"></i>
                                {% endif %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-between align-item-center">

            <select data-action="change->table#setLoading" onchange="tableSizeChange(this, {{ currentPage }})" class="form-select shadow-sm bg-light w-fit">
                {% for allowedSize in allowedTableSize %}
                    <option value="{{ allowedSize }}" {% if size == allowedSize %} selected {% endif %}>{{ allowedSize }}</option>
                {% endfor %}
            </select>

            <div class="d-flex justify-content-between align-item-center">
                
                <a role="button" data-action="click->table#setLoading" href="{{ path('app_user', {'page': 1, 'size' : size}) }}" draggable="false" class="shadow-sm border user-select-none mx-1 btn bg-light {% if (currentPage == (1)) %} disabled {% endif %}">
                    <i class="bi bi-chevron-double-left"></i>
                </a>

                {% for i in (currentPage - 3)..(currentPage + 1) %}

                    {% if (i + 1 > 0) and (i + 1 <= nbPage)  %}
                        <a role="button" data-action="click->table#setLoading" href="{{ path('app_user', {'page': i + 1, 'size' : size}) }}" draggable="false" class="shadow-sm border user-select-none mx-1 btn {% if (currentPage == (i + 1)) %} btn-primary disabled {% else %} bg-light {% endif %}">
                            {{ i + 1 }}
                        </a>
                    {% endif %}

                {% endfor %}
                
                <a role="button" data-action="click->table#setLoading" href="{{ path('app_user', {'page': nbPage, 'size' : size}) }}" draggable="false" class="shadow-sm border user-select-none mx-1 btn btn bg-light {% if (currentPage == (nbPage)) %} disabled {% endif %}">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </div>

        </div>
        
    </div>
</div>


{% endblock %}
{% block scriptTag %}
    <script>
        function tableSizeChange(elem, page){
            const path = "{{ path('app_user')}}";
            Turbo.visit(path + "?" + new URLSearchParams({page: page, size: elem.value}).toString())
        }
    </script>
{% endblock %}